.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  font-size: 20px;
  margin: 0;
}

.logo-icon {
  font-size: 24px;
  color: #8ddc39;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.nav-links li.active,
.nav-links li:hover {
  color: #8ddc39;
  font-weight: 500;
}

.signin-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 16px;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.signin-btn:hover {
  background: white;
  color: #000;
}


.hero-image img {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.logo img {
  width: 40px;
  height: 40px;
}
