/* src/styles/LandingPage.css */

.landing-page {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding-top: 60px; /* Adding space for the fixed navbar */
}

/* Header and Navbar styling */
.header {
  width: 100%;
  padding: 10px 0;
  background-color: #282c34;
  color: white;
}

/* Navbar styling */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left h1 {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.navbar-right {
  margin-right: 20px;
}

.navbar-right svg {
  cursor: pointer;
  font-size: 24px;
  color: white;
  transition: all 0.3s ease;
}

.navbar-right svg:hover {
  color: #ffa500; /* Change color on hover */
}

/* Sections styling: stack sections vertically without any space */
.sections {
  display: flex;
  flex-direction: column; /* Stack the sections vertically */
  padding: 0; /* Remove padding between sections */
}

/* Section styling without space between each */
.section {
  width: 100%; /* Full width of the container */
  padding: 200px;
  background-color: #f0f0f0;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box; /* Ensure padding and margin are considered for width */
}

/* Optional: Different background colors for each section */
.section-1 {
  background-color: #050505;
}

.section-2 {
  background-color: #ffe0b2;
}

.section-3 {
  background-color: #c8e6c9;
}

.section-4 {
  background-color: #fff3e0;
}
