/* src/styles/LandingPage.css */

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin-top: 80px; /* Added margin to avoid content being hidden behind the navbar */
}

h2 {
  margin-bottom: 20px;
}

.rectangles-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rectangle {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caf50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.rectangle a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.rectangle a:hover {
  text-decoration: underline;
}
